<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Proyecto</title>
    <!-- Agregar los enlaces a Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="actividades.component.css">
</head>
<body>
    <!-- nvbar inicio-->  
    <app-header></app-header>
    <!-- nvbar fin-->  
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="breadcrumbs">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/proyecto">Proyecto</a></li>
            <li class="breadcrumb-item active"  aria-current="page">Actividad</li>
        </ol>
    </nav>
    <div class="container mt-5">
        <!-- Sección para el formulario de proyecto -->
        <form action="#" method="post" class="card" [formGroup]="actForm" (ngSubmit)="crearAct()">
            <h5 class="card-title">Registra Actividad</h5>
            <div class="card-body">
                <div class="form-group">
                    <label for="nombreActividad">Nombre de la Actividad:</label>
                    <input type="text" class="form-control" id="nombreActividad" name="nombreActividad" formControlName="nom_a" required>
                </div>

                <div class="form-group">
                    <label for="descripcionActividad">Descripción Detallada de la Actividad:</label>
                    <textarea class="form-control" id="descripcionActividad" name="descripcionActividad" formControlName="des_a" rows="4" required></textarea>
                </div>

                <div class="form-group">
                    <label for="miembrosEquipo">Quien la realiza:</label>
                    <!--<input type="text" class="form-control" id="miembrosEquipo" name="miembrosEquipo" formControlName="id_u" required>
                      <ul id="" *ngIf="integrantes.length > 0">
                        <li *ngFor="let integrante of integrantes"><a href="#" (click)="seleccionarIntegrante(integrante)">{{integrante.usuario}}</a></li>
                      </ul>
                      
                      <div id="cover-ctn-search"></div>-->
                        <label for="browser" class="form-label">ingresa el id del usuario</label>
                        <input class="form-control"  id="miembrosEquipo" name="miembrosEquipo" formControlName="id_u" required>
                        <!--<datalist id="browsers" >
                            <ng-container *ngFor="let integrante of integrantes">
                                <option [value]="integrante.id_u">{{ integrante.usuario }}</option>
                            </ng-container>
                        </datalist>-->
                </div>
                <div class="form-group">
                    <label for="notas">Notas:</label>
                    <input type="text" class="form-control" id="notas" name="notas" formControlName="notas">
                </div>

                <div class="form-group">
                    <label for="estado">Estado:</label>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="estado" name="estado" formControlName="estado">
                        <label class="form-check-label" for="estado">Finalizada</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Guardar</button>
            </div>
        </form>

        <!-- Sección para buscar proyecto y mostrar actividades en tabla -->
       
    </div>
</body>
</html>
