<app-header></app-header>
<div class="mapa-sitio-container">
    <h1>Mapa de Sitio</h1>
    <!--<div *ngIf="estructuraSitio">
      <ul class="paginas-principales">
        <ng-container *ngFor="let pagina of estructuraSitio | keyvalue" class="pagina-principal">
          <li>
            <a [href]="pagina.value.url">{{ pagina.value.titulo }}</a>
            <ul *ngIf="pagina.value.subpaginas" class="subpaginas">
              <ng-container *ngFor="let subpagina of pagina.value.subpaginas | keyvalue" class="subpagina">
                <li>
                  <a [href]="subpagina.value.url">{{ subpagina.value.titulo }}</a>
                  <ul *ngIf="subpagina.value.subpaginas" class="subpaginas">
                    <ng-container *ngFor="let subsubpagina of subpagina.value.subpaginas | keyvalue" class="subpagina">
                      <li><a [href]="subsubpagina.value.url">{{ subsubpagina.value.titulo }}</a></li>
                    </ng-container>
                  </ul>
                </li>
              </ng-container>
            </ul>
          </li>
        </ng-container>
      </ul>
    </div>-->
    <img src="../../../assets/mapa.jpg" alt="">
  </div>
